---
layout: layouts/base.njk
eleventyComputed:
    title: Amparo Art — Logo & ecommerce website for an emerging art marketplace
description: We helped Amparo Art, a new commerce brand, find its place in the industry.
---

<div class="barba-container amparo loading" data-barba="container" data-barba-namespace="project" id="smooth-wrapper">
    <main id="smooth-content">
        <section id="banner" class="pin__banner st__plax --banner">
            <div class="section__wrapper">
                <h1 class="top">Amparo Art</h1>
                <img
                    class="promo st__plax--inner"
                    src="/assets/work/amparo/amparo__banner.webp"
                    srcset=" /assets/work/amparo/amparo__banner@1024.webp 1024w, /assets/work/amparo/amparo__banner.webp 1920w "
                    sizes="100vw"
                    alt="Amparo Art banner image"
                    width="1920"
                    height="1062"
                    loading="eager"/>
            </div>
        </section>
        <section id="intro">
            <div class="section__wrapper">
                <div class="row details">
                    <div class="col">
                        <span>005</span>
                        <p>Amparo Art</p>
                    </div>
                    <div class="col">
                        <span>Project Focus</span>
                        <p>Logo Design, Art Direction, E-Commerce, Gallery, API</p>
                    </div>
                    <div class="col">
                        <span>Services</span>
                        <p>
                            <a href="/services/branding-identity-system/" class="cursor__hover --highlight">Strategy</a>,
                            <a href="/services/web-design-development/" class="cursor__hover --highlight">Website</a>,
                            <a href="/services/graphic-design/" class="cursor__hover --highlight">Graphic Design</a>
                        </p>
                    </div>
                    <div class="col">
                        <span>Date</span>
                        <p>Completed November, 2021</p>
                    </div>
                </div>
                <h2 class="st__headline">
                    Connecting art lovers with curated selections and virtual tools
                </h2>
                <div class="row obj">
                    <div class="inner">
                        <div class="col st__text">
                            <span>Our Objective</span>
                        </div>
                        <div class="col st__text">
                            <h3>
                                Amparo is a platform for fine artists to display their original paintings in virtually customizable residential and
                                commercial spaces. Working with the start-up in its early stages, Duo helped establish the brand foundation by creating
                                the brand identity, design architecture and digital presence from the ground up.
                            </h3>
                        </div>
                    </div>
                    <a class="btn__circle light" href="https://amparoart.com/" target="_blank" rel="noopener noreferrer">
                        <p>View Website</p>
                    </a>
                </div>
            </div>
        </section>
        <section id="sec__001">
            <div class="section__wrapper">
                <div class="container">
                    <div class="video-wrapper">
                        <video playsinline muted loop autoplay preload="none" src="/assets/work/amparo/Amparo_Homepage.mp4"></video>
                    </div>
                </div>
            </div>
        </section>
        <section id="sec__002" class="full-width st__full-width">
            <div class="section__wrapper">
                <img
                    srcset=" /assets/work/amparo/amparo__sec-2@1024.webp 1024w, /assets/work/amparo/amparo__sec-2.webp 1920w "
                    sizes="100vw"
                    src="/assets/work/amparo/amparo__sec-2.webp"
                    alt="banner-image"
                    width="1920"
                    height="1084"/>
            </div>
        </section>
        <section id="sec__003">
            <div class="section__wrapper">
                <h2 class="st__headline">
                    Helping a new commerce brand find its place in the art industry
                </h2>
                <div class="row">
                    <div class="col major">
                        <img
                            class="st__image"
                            src="/assets/work/amparo/amparo__sec-3--1.webp"
                            alt="amparo-image"
                            srcset="/assets/work/amparo/amparo__sec-3--1.webp 1152w"
                            sizes="(min-width: 1024px) 60vw, 90vw"
                            width="1152"
                            height="699"
                            loading="lazy"/>
                    </div>
                    <div class="col minor">
                        <h3>Building a Brand</h3>
                        <p>
                            Starting from a completely blank slate, we created a brand identity that honors the timelessness of the art world, while
                            staying true to our client’s innovative vision. Inspired by the sophistication in fine art, we wove traditional brand
                            elements, i.e. soft corners and a serif typeface, in with the modern design characteristics, i.e. a bright color palette
                            and abstract patterns.
                        </p>
                    </div>
                </div>
                <div class="container">
                    <img
                        class="st__image"
                        src="/assets/work/amparo/amparo__sec-3--2.webp"
                        alt="amparo-mockup"
                        srcset=" /assets/work/amparo/amparo__sec-3--2@954.webp 954w, /assets/work/amparo/amparo__sec-3--2.webp 1690w "
                        sizes="(min-width: 1024px) 88vw, 90vw"
                        width="1690"
                        height="731"
                        data-attribute-pos="right"
                        loading="lazy"/>
                </div>
            </div>
        </section>
        <section id="sec__004" class="bg__trigger">
            <div class="section__wrapper">
                <div class="container">
                    <img
                        class="st__image"
                        src="/assets/work/amparo/amparo__sec-4--1.webp"
                        alt="amparo-mockup"
                        srcset=" /assets/work/amparo/amparo__sec-4--1@954.webp 954w, /assets/work/amparo/amparo__sec-4--1.webp 1152w "
                        sizes="(min-width: 1024px) 60vw, 90vw"
                        width="1152"
                        height="736"
                        loading="lazy"/>
                </div>
                <div class="row">
                    <div class="col">
                        <img
                            class="st__image"
                            src="/assets/work/amparo/amparo__sec-4--2.webp"
                            alt="amparo-mockup"
                            srcset="/assets/work/amparo/amparo__sec-4--2.webp 672w"
                            sizes="(min-width: 1024px) 35vw, 65vw"
                            width="672"
                            height="750"
                            loading="lazy"/>
                    </div>
                    <div class="col">
                        <img
                            class="st__image"
                            src="/assets/work/amparo/amparo__sec-4--4.png"
                            alt="amparo-mockup"
                            srcset="/assets/work/amparo/amparo__sec-4--4.png 339w"
                            sizes="(min-width: 1024px) 17vw, 40vw"
                            width="339"
                            height="614"
                            loading="lazy"/>
                    </div>
                    <div class="col">
                        <img
                            class="st__image"
                            src="/assets/work/amparo/amparo__sec-4--3.webp"
                            alt="amparo-mockup"
                            srcset="/assets/work/amparo/amparo__sec-4--3.webp 441w"
                            sizes="(min-width: 1024px) 23vw, 65vw"
                            width="441"
                            height="619"
                            data-attribute-pos="right"
                            loading="lazy"/>
                    </div>
                </div>
            </div>
        </section>
        <section id="sec__005">
            <div class="section__wrapper">
                <h2 class="st__headline">Fusing fine art and technology</h2>
                <div class="row pin__sticky">
                    <div class="col minor">
                        <h3>Custom E-Commerce Design and Development</h3>
                        <p>
                            From private collectors to local artists and businesses, Amparo wanted to speak to all audiences in the art world.
                            Keeping this in mind, we crafted the website that identifies and provides a clear user journey for each visitor group.
                            We also created a dynamic landing page to promote the website before launch.
                        </p>
                        <div class="progress-bar">
                            <div class="bar"></div>
                        </div>
                    </div>
                    <div class="col major">
                        <div class="video-wrapper st__image">
                            <video autoplay loop playsinline muted preload="none" src="/assets/work/amparo/amparo_artist.mp4"></video>
                        </div>
                        <img
                            class="st__image"
                            src="/assets/work/amparo/amparo__sec-5--3.webp"
                            alt="amparo-mockup"
                            srcset="/assets/work/amparo/amparo__sec-5--3.webp 826w"
                            sizes="(min-width: 1024px) 43vw"
                            width="835"
                            height="599"
                            data-attribute-pos="right"
                            loading="lazy"/>
                    </div>
                </div>
                <div class="container">
                    <div class="video-wrapper">
                        <video autoplay loop playsinline muted preload="none" src="/assets/work/amparo/Amparo_LandingPage.mp4"></video>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img
                            class="st__image"
                            src="/assets/work/amparo/amparo__sec-5--1.webp"
                            alt="amparo-mockup"
                            srcset="/assets/work/amparo/amparo__sec-5--1.webp 384w"
                            sizes="(min-width: 1024px) 20vw, 60vw"
                            width="384"
                            height="481"
                            loading="lazy"/>
                    </div>
                    <div class="col">
                        <img
                            class="st__image"
                            src="/assets/work/amparo/amparo__sec-5--2.webp"
                            alt="amparo-mockup"
                            srcset=" /assets/work/amparo/amparo__sec-5--2@864.webp 864w, /assets/work/amparo/amparo__sec-5--2.webp 1056w "
                            sizes="(min-width: 1024px) 55vw, 80vw"
                            width="1056"
                            height="677"
                            data-attribute-pos="right"
                            loading="lazy"/>
                    </div>
                </div>
            </div>
        </section>
        <section id="sec__006">
            <div class="section__wrapper">
                <div class="full-width st__full-width">
                    <img
                        src="/assets/work/amparo/amparo__sec-6.webp"
                        alt="amparo-mockup"
                        srcset=" /assets/work/amparo/amparo__sec-6@1024.webp 1024w, /assets/work/amparo/amparo__sec-6.webp 1920w "
                        sizes="100vw"
                        width="1920"
                        height="1080"
                        loading="lazy"/>
                </div>
            </div>
        </section>
        <section id="sec__007">
            <div class="section__wrapper">
                <h2 class="st__headline">
                    Redefining the art buying experience, digitally
                </h2>
                <div class="row pin__sticky">
                    <div class="col minor">
                        <h3>The Buying Journey</h3>
                        <p>
                            To capture the attention of the art-buyer, we crafted a gallery-like site that encourages art exploration before
                            purchase. The online marketplace features a hyper-personalized shopping experience, including virtually customizable
                            residential and commercial spaces and a detailed filter UI which supports searching products via medium, style, subject,
                            price and more. To ensure a smooth and intuitive checkout process, we integrated ARTA’s robust API system.
                        </p>
                        <div class="progress-bar">
                            <div class="bar"></div>
                        </div>
                    </div>
                    <div class="col major">
                        <div class="video-wrapper st__image">
                            <video autoplay loop playsinline muted preload="none" src="/assets/work/amparo/Amparo_ProductFilter.mp4"></video>
                        </div>
                        <img
                            class="st__image"
                            src="/assets/work/amparo/amparo__sec-7--1.webp"
                            alt="amparo-mockup"
                            srcset="/assets/work/amparo/amparo__sec-7--1.webp 828w"
                            sizes="(min-width: 1024px) 43vw"
                            width="828"
                            height="561"
                            data-attribute-pos="right"
                            loading="lazy"/>
                        <img
                            class="st__image"
                            src="/assets/work/amparo/amparo__sec-7--2.webp"
                            alt="amparo-mockup"
                            srcset=" /assets/work/amparo/amparo__sec-7--2@462.webp 462w, /assets/work/amparo/amparo__sec-7--2.webp 828w "
                            sizes="43vw"
                            width="828"
                            height="1211"
                            data-attribute-pos="right"
                            loading="lazy"/>
                        <img
                            class="st__image"
                            src="/assets/work/amparo/amparo__sec-7--3.webp"
                            alt="amparo-mockup"
                            srcset="/assets/work/amparo/amparo__sec-7--3.webp 828w"
                            sizes="(min-width: 1024px) 43vw"
                            width="828"
                            height="547"
                            data-attribute-pos="right"
                            loading="lazy"/>
                    </div>
                </div>
            </div>
        </section>
        <a href="/work/lumina/" class="footer-spacer cursor__hover" data-attribute-text="next">
            <div class="section__wrapper">
                <footer class="next-project pin__banner st__plax --banner">
                    <div class="st__headline headline__footer title">Lumina Theatre</div>
                    <img
                        class="promo st__plax--inner"
                        srcset=" /assets/work/lumina/lumina__banner@1024.webp 1024w, /assets/work/lumina/lumina__banner.webp 1920w "
                        sizes="100vw"
                        src="/assets/work/lumina/lumina__banner.webp"
                        alt="banner-image"
                        width="1920"
                        height="1076"
                        loading="lazy"/>
                </footer>
            </div>
        </a>
    </main>
</div>