---
layout: layouts/base.njk
eleventyComputed:
    title:{{ metadata.title }}
description: We are a creative collective that weaves together branding, strategy, and design to create thought-provoking digital experiences for businesses ready to make an impact.
---

<div class="barba-container loading" data-barba="container" data-barba-namespace="home" id="smooth-wrapper">
    <main id="smooth-content">
        <section id="banner">
            <div class="section__wrapper">
                <div class="content">
                    <h1 class="top st__headline--spread --banner">
                        A design studio made<br> to elevate your brand
                    </h1>
                    <p>We build brand identities, creative websites, and visual narratives that showcase the full extent of your potential.
                        Based in Washington DC, working with clients world-wide.</p>
                </div>
                <div class="inner">
                    <div class="promo">
                        <video
                            class="cursor__hover"
                            width="1920"
                            height="1080"
                            src="/assets/home/Duo Reel--Desktop-reduced.mp4"
                            playsinline
                            muted
                            loop
                            autoplay></video>
                        <video
                            class="mobile"
                            width="1080"
                            height="720"
                            src="/assets/home/Duo Reel--Mobile-reduced.mp4"
                            playsinline
                            muted
                            loop
                            autoplay></video>
                        <aside>
                            <p>Watch Showreel</p>
                            <p class="subtitle">2020-2023</p>
                        </aside>
                        <div class="mobile btn__small">
                            <p>Play</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="intro">
            <div class="section__wrapper">
                <h2 class="st__text">
                    <span>Capabilities</span>At Duo Studio, we have a passion for crafting personalized solutions, including:
                </h2>
                <div class="content">
                    <div class="row active">
                        <div class="col">
                            <div class="st__plax">
                                <img
                                    srcset="/assets/services/services__branding@625.webp 625w, /assets/services/services__branding@1152.webp 1152w"
                                    src="/assets/services/services__branding@1152.webp"
                                    sizes="(min-width: 1024px) 50vw, 88vw"
                                    alt="brand-identity-image"
                                    class="st__plax--inner"
                                    width="1152"
                                    height="857"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="inner cursor__hover --highlight st__text">
                                <h3>Branding</h3>
                                <p class="subtitle">Brand Identity, Brand Strategy, Logo Design, Messaging, Positioning, Art Direction, Brand Guidelines</p>
                                <a href="/services/branding-identity-system/" class="btn__small --tag">Expand</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="st__plax">
                                <img
                                    srcset="/assets/services/services__websites@625.webp 625w, /assets/services/services__websites@1152.webp 1152w"
                                    src="/assets/services/services__websites@1152.webp"
                                    sizes="(min-width: 1024px) 50vw, 88vw"
                                    alt="brand-identity-image"
                                    class="st__plax--inner"
                                    width="1152"
                                    height="857"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="inner cursor__hover --highlight st__text">
                                <h3>Websites</h3>
                                <p class="subtitle">Web Design, Web Development, UI/UX, Wireframes, Copywriting, E-Commerce, SEO, CMS,
                                    Analytics/Tracking</p>
                                <a href="/services/web-design-development/" class="btn__small --tag">Expand</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="st__plax">
                                <img
                                    srcset="/assets/services/services__content@625.webp 625w, /assets/services/services__content@1152.webp 1152w"
                                    src="/assets/services/services__content@1152.webp"
                                    sizes="(min-width: 1024px) 50vw, 88vw"
                                    alt="brand-identity-image"
                                    class="st__plax--inner"
                                    width="1152"
                                    height="857"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="inner cursor__hover --highlight st__text">
                                <h3>Content</h3>
                                <p class="subtitle">Content Strategy, Graphic Design, Marketing Design Collateral, Packaging, Print Design,
                                    Illustration, Motion Graphics</p>
                                <a href="/services/graphic-design/" class="btn__small --tag">Expand</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn__small cursor__hover --highlight st__text" href="/services/">
                    <p>Learn More</p>
                </a>
            </div>
        </section>
        <section id="work">
            <div class="st__line"></div>
            <div class="section__wrapper">
                <div class="st__headline title">Featured work</div>
                <div class="card-container">
                    <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/madegood/">
                        <div class="inner st__image" data-attribute-pos="right">
                            <div class="no-overflow">
                                <div class="img-wrapper">
                                    <video
                                        src="/assets/home/projects_madegood-reduced.mp4"
                                        width="720"
                                        height="480"
                                        playsinline
                                        muted
                                        loop
                                        autoplay
                                        preload="none"></video>
                                </div>
                            </div>
                            <div class="card-info">
                                <h3>MadeGood</h3>
                                <p class="subtitle">Brand Strategy, Website</p>
                            </div>
                        </div>
                    </a>
                    <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/mgny/">
                        <div class="inner st__image">
                            <div class="no-overflow">
                                <div class="img-wrapper st__plax">
                                    <img
                                        src="/assets/home/home__mgny-thumbnail.webp"
                                        srcset="/assets/home/home__mgny-thumbnail.webp 576w"
                                        sizes="(min-width: 1024px) 30vw, 50vw"
                                        alt="project-image"
                                        width="576"
                                        height="684"
                                        class="st__plax--inner"/>
                                </div>
                            </div>
                            <div class="card-info">
                                <h3>MGNY</h3>
                                <p class="subtitle">Brand Strategy, Website, Creative Direction, Illustration</p>
                            </div>
                        </div>
                    </a>
                    <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/finturity/">
                        <div class="inner st__image">
                            <div class="no-overflow">
                                <div class="img-wrapper st__plax">
                                    <img
                                        src="/assets/home/home-casestudy-finturity.webp"
                                        srcset="/assets/home/home-casestudy-finturity.webp 589w"
                                        sizes="(min-width: 1024px) 30vw, 50vw"
                                        alt="project-image"
                                        width="589"
                                        height="641"
                                        class="st__plax--inner"/>
                                </div>
                            </div>
                            <div class="card-info">
                                <h3>Finturity</h3>
                                <p class="subtitle">Brand Strategy, Brand Identity, Website, Graphic Design</p>
                            </div>
                        </div>
                    </a>
                    <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/cruefilms/">
                        <div class="inner st__image" data-attribute-pos="right">
                            <div class="no-overflow">
                                <div class="img-wrapper">
                                    <video
                                        src="/assets/home/projects_cruefilms-reduced.mp4"
                                        width="720"
                                        height="480"
                                        playsinline
                                        muted
                                        loop
                                        autoplay
                                        preload="none"></video>
                                </div>
                            </div>
                            <div class="card-info">
                                <h3>Cruefilms</h3>
                                <p class="subtitle">Brand Strategy, Website</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <p class="st__text">Browse our work and get inspired by the possibilities we can create together.</p>
                    <a class="btn__small st__text cursor__hover --highlight" href="/work/">
                        <p>See All Work</p>
                    </a>
                </div>
            </div>
        </section>
        <section id="clients" class="bg__trigger--custom">
            <div class="st__line"></div>
            <div class="row value">
                <div class="section__wrapper --process">
                    <header>
                        <div class="title st__headline">
                            Beyond logos & <br>creative websites
                        </div>
                        <a href="/contact/" class="btn__circle">
                            <p>Start a Project</p>
                        </a>
                    </header>
                    <div class="row horizontal">
                        <div class="col">
                            <div class="btn__small --tag">001</div>
                            <h2>We connect your<br> brand with people</h2>
                            <p>A powerful brand has the power to move the hearts and minds of many. Through the combination of brand identity, brand
                                positioning, and storytelling, our aim is to create impactful experiences that become an integral part of people’s
                                lives.</p>
                        </div>
                        <div class="col">
                            <div class="btn__small --tag">002</div>
                            <h2>We strategize first<br> when building a brand</h2>
                            <p>At the center of every successful project is data-driven research and a brand strategy framework. Through
                                collaborative workshops, we take a deep-dive into your business, audience, and market to define a roadmap that inspires
                                action.</p>
                        </div>
                        <div class="col">
                            <div class="btn__small --tag">003</div>
                            <h2>We build interactive, user-<br>first digital experiences</h2>
                            <p>We don’t just build websites; we build growth-driven digital experiences that meet people where they are. Every
                                element, from the web design to the web development is fine-tuned to give your customers an immersive journey from their
                                first click.
                            </p>
                        </div>
                        <div class="col">
                            <div class="btn__small --tag">004</div>
                            <h2>We create intentional<br> content that converts</h2>
                            <p>Content is king, and we're masters in building custom, from-scratch content to drive impactful results. We pair
                                compelling narratives with graphic design to amplify your brand's message across various channels.</p>
                        </div>
                        <div class="progress">
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <header class="row mentions-clients">
                <div class="section__wrapper">
                    <div class="st__line"></div>
                    <div class="content">
                        <div class="no-overflow cursor__hover --highlight st__headline">
                            <h2>Mentions</h2>
                            <h2>Mentions</h2>
                        </div>
                        <div class="no-overflow cursor__hover --highlight">
                            <h2 class="st__headline">Clients</h2>
                            <h2>Clients</h2>
                        </div>
                        <p class="toggle btn__small --tag cursor__hover --highlight">
                            View
                            <span class="display">
                                <span class="display__inner">Clients</span>
                                <span class="display__inner">Mentions</span>
                            </span>
                        </p>
                    </div>
                </div>
            </header>
            <div class="container">
                <div class="container__inner col -mentions cursor__hide">
                    <a
                        href="https://www.verizon.com/business/resources/customer-success-stories/duo-studio-small-traveling-business/"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="inner row st__text">
                        <div class="row wrapper">
                            <h3>Verizon</h3>
                            <p>Small Business Feature</p>
                            <p>2021</p>
                        </div>
                    </a>
                    <a
                        href="https://www.awwwards.com/sites/duo-studio-2"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="inner row st__text">
                        <div class="row wrapper">
                            <h3>Awwwards</h3>
                            <p>Honorable Mention</p>
                            <p>2023</p>
                        </div>
                    </a>
                    <a
                        href="https://www.awwwards.com/sites/duo-studio/mobile-excellence-report"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="inner row st__text">
                        <div class="row wrapper">
                            <h3>Awwwards</h3>
                            <p>Mobile Excellence</p>
                            <p>2020</p>
                        </div>
                    </a>
                    <a
                        href="https://mindsparklemag.com/website/duo-studio/"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="inner row st__text">
                        <div class="row wrapper">
                            <h3>Mindsparkle Mag</h3>
                            <p>Site of the Day</p>
                            <p>2020</p>
                        </div>
                    </a>
                    <a href="https://orpetron.com/sites/duo-studio/" target="_blank" rel="noopener noreferrer" class="inner row st__text">
                        <div class="row wrapper">
                            <h3>Orpetron</h3>
                            <p>Site of the Day</p>
                            <p>2020</p>
                        </div>
                    </a>
                </div>
                <div class="container__inner col -clients cursor__hide">
                    <a href="https://amparoart.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text">
                        <div class="row wrapper">
                            <h3>Amparo</h3>
                            <p>Art & E-Commerce</p>
                            <p>2020</p>
                        </div>
                    </a>
                    <a href="https://apolloxstill.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text">
                        <div class="row wrapper">
                            <h3>ApolloXstill</h3>
                            <p>Cannabis & Hemp Extraction</p>
                            <p>2020</p>
                        </div>
                    </a>
                    <a href="https://cruefilms.co/" target="_blank" rel="noopener noreferrer" class="inner row st__text">
                        <div class="row wrapper">
                            <h3>Cruefilms</h3>
                            <p>Videography & Portfolio</p>
                            <p>2021</p>
                        </div>
                    </a>
                    <a href="https://www.finturity.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text">
                        <div class="row wrapper">
                            <h3>Finturity</h3>
                            <p>Retirement Planning</p>
                            <p>2022</p>
                        </div>
                    </a>
                    <a href="https://www.gatapack.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text">
                        <div class="row wrapper">
                            <h3>GATAPACK</h3>
                            <p>Face Masks, Survival Gear & E-Commerce</p>
                            <p>2020</p>
                        </div>
                    </a>
                    <p class="btn__small load-more st__text cursor__hover --highlight">
                        Load More
                    </p>
                    <a href="https://www.genimexgroup.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
                        <div class="row wrapper">
                            <h3>Genimex</h3>
                            <p>Contract Manufacturing</p>
                            <p>2022</p>
                        </div>
                    </a>
                    <a href="https://itllc.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
                        <div class="row wrapper">
                            <h3>Infinity Technology</h3>
                            <p>Engineering Consulting</p>
                            <p>2020</p>
                        </div>
                    </a>
                    <a href="https://innercosmos.io/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
                        <div class="row wrapper">
                            <h3>Inner Cosmos</h3>
                            <p>Neurotech Product</p>
                            <p>2021</p>
                        </div>
                    </a>
                    <a href="http://landrec.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
                        <div class="row wrapper">
                            <h3>Landrec</h3>
                            <p>Playgrounds & E-Commerce</p>
                            <p>2021</p>
                        </div>
                    </a>
                    <a href="https://www.luminastudio.org/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
                        <div class="row wrapper">
                            <h3>Lumina Studio Theatre</h3>
                            <p>Theatre & E-Commerce</p>
                            <p>2021</p>
                        </div>
                    </a>
                    <a href="https://madegood.world/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
                        <div class="row wrapper">
                            <h3>Made Good Co</h3>
                            <p>Videography & Portfolio</p>
                            <p>2020</p>
                        </div>
                    </a>
                    <a href="https://miraclemaidsservices.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
                        <div class="row wrapper">
                            <h3>Miracle Maids</h3>
                            <p>Commercial & Residential Cleaning</p>
                            <p>2020</p>
                        </div>
                    </a>
                    <a href="https://mgnyconsulting.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
                        <div class="row wrapper">
                            <h3>MGNY Consulting</h3>
                            <p>Real Estate Consultant</p>
                            <p>2022</p>
                        </div>
                    </a>
                    <a href="https://www.rankpay.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
                        <div class="row wrapper">
                            <h3>RankPay</h3>
                            <p>Digital Marketing</p>
                            <p>2021</p>
                        </div>
                    </a>
                    <a href="https://samatahealth.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
                        <div class="row wrapper">
                            <h3>Samata Health</h3>
                            <p>Mental Health & SaaS</p>
                            <p>2020</p>
                        </div>
                    </a>
                    <a href="https://www.tiverbatim.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
                        <div class="row wrapper">
                            <h3>TI Verbatim</h3>
                            <p>Business Development</p>
                            <p>2022</p>
                        </div>
                    </a>
                    <a href="https://www.investuncommon.com/" target="_blank" rel="noopener noreferrer" class="inner row st__text next">
                        <div class="row wrapper">
                            <h3>Uncommon Capital Group</h3>
                            <p>Real Estate Investment</p>
                            <p>2020</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        {% include "layouts/footer.njk" %}
    </main>
    <div class="client-images">
        <div class="client-images__mentions">
            <img
                srcset="/assets/home/home-mentions-verizon.webp 580w"
                sizes="30vw"
                src="/assets/home/home-mentions-verizon.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="435"/>
            <img
                srcset=" /assets/home/home-mentions-awwwards-honorablemention.webp 580w "
                sizes="30vw"
                src="/assets/home/home-mentions-awwwards-honorablemention.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="435"/>
            <img
                srcset="/assets/home/home-mentions-awwwards-mobile.webp 580w"
                sizes="30vw"
                src="/assets/home/home-mentions-awwwards-mobile.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="435"/>
            <img
                srcset="/assets/home/home-mentions-mindsparkle.webp 580w"
                sizes="30vw"
                src="/assets/home/home-mentions-mindsparkle.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="435"/>
            <img
                srcset="/assets/home/home-mentions-orpetron.webp 580w"
                sizes="30vw"
                src="/assets/home/home-mentions-orpetron.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="435"/>
            <img
                srcset="/assets/home/home-mentions-designrush.webp 580w"
                sizes="30vw"
                src="/assets/home/home-mentions-designrush.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="435"/>
        </div>
        <div class="client-images__clients">
            <img
                srcset="/assets/home/client-amparo.webp 580w"
                sizes="30vw"
                src="/assets/home/client-amparo.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
            <img
                srcset="/assets/home/client-apollo.webp 580w"
                sizes="30vw"
                src="/assets/home/client-apollo.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
            <img
                srcset="/assets/home/client-cruefilms.webp 580w"
                sizes="30vw"
                src="/assets/home/client-cruefilms.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
            <img
                srcset="/assets/home/client-finturity.webp 580w"
                sizes="30vw"
                src="/assets/home/client-finturity.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
            <img
                srcset="/assets/home/client-gata.webp 580w"
                sizes="30vw"
                src="/assets/home/client-gata.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
            <img
                srcset="/assets/home/client-genimex.webp 580w"
                sizes="30vw"
                src="/assets/home/client-genimex.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
            <img
                srcset="/assets/home/client-infinitytech.webp 580w"
                sizes="30vw"
                src="/assets/home/client-infinitytech.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
            <img
                srcset="/assets/home/client-innercosmos.webp 580w"
                sizes="30vw"
                src="/assets/home/client-innercosmos.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
            <img
                srcset="/assets/home/client-landrec.webp 580w"
                sizes="30vw"
                src="/assets/home/client-landrec.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
            <img
                srcset="/assets/home/client-lumina.webp 580w"
                sizes="30vw"
                src="/assets/home/client-lumina.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
            <img
                srcset="/assets/home/client-madegood.webp 580w"
                sizes="30vw"
                src="/assets/home/client-madegood.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
            <img
                srcset="/assets/home/client-miraclemaids.webp 580w"
                sizes="30vw"
                src="/assets/home/client-miraclemaids.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
            <img
                srcset="/assets/home/client-mgny.webp 580w"
                sizes="30vw"
                src="/assets/home/client-mgny.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
            <img
                srcset="/assets/home/client-rankpay.webp 580w"
                sizes="30vw"
                src="/assets/home/client-rankpay.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
            <img
                srcset="/assets/home/client-samatahealth.webp 580w"
                sizes="30vw"
                src="/assets/home/client-samatahealth.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
            <img
                srcset="/assets/home/client-tiverbatim.webp 580w"
                sizes="30vw"
                src="/assets/home/client-tiverbatim.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
            <img
                srcset="/assets/home/client-uncommon.webp 580w"
                sizes="30vw"
                src="/assets/home/client-uncommon.webp"
                alt="cursor-image"
                loading="lazy"
                width="580"
                height="359"/>
        </div>
    </div>
</div>