---
layout: layouts/base.njk
eleventyComputed:
    title: Work | {{ metadata.title }}
description: A collection of our case studies. View them and see what we can do for your brand.
---

<div class="barba-container loading" data-barba="container" data-barba-namespace="work" id="smooth-wrapper">
    <main id="smooth-content">
        <section id="work">
            <header>
                <h1 class="headline__load lg">All Case Studies</h1>
                <div class="container">
                    <div class="st__line"></div>
                    <div class="section__wrapper row">
                        <p>
                            A sampling of our customized brand experiences. Take a peek at some of our results.
                        </p>
                        <h2>006</h2>
                    </div>
                </div>
            </header>
            <div class="section__wrapper">
                <div class="card-container">
                    <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/madegood/">
                        <div class="inner st__image" data-attribute-pos="right">
                            <div class="no-overflow">
                                <div class="img-wrapper">
                                    <video
                                        src="/assets/home/projects_madegood-reduced.mp4"
                                        width="720"
                                        height="480"
                                        playsinline
                                        muted
                                        loop
                                        autoplay
                                        preload="none"></video>
                                </div>
                            </div>
                            <div class="card-info">
                                <h3>MadeGood</h3>
                                <p>Strategy, Website</p>
                            </div>
                        </div>
                    </a>
                    <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/mgny/">
                        <div class="inner st__image">
                            <div class="no-overflow">
                                <div class="img-wrapper st__plax">
                                    <img
                                        src="/assets/home/home-casestudy-mgny.webp"
                                        srcset="/assets/home/home-casestudy-mgny@420.webp 420w, /assets/home/home-casestudy-mgny@840.webp 840w,
                                            /assets/home/home-casestudy-mgny.webp 960w "
                                        sizes="(min-width: 1024px) 50vw, 80vw"
                                        alt="project-image"
                                        width="960"
                                        height="664"
                                        class="st__plax--inner"/>
                                </div>
                            </div>
                            <div class="card-info">
                                <h3>MGNY</h3>
                                <p>Website, Strategy, Illustration</p>
                            </div>
                        </div>
                    </a>
                    <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/finturity/">
                        <div class="inner st__image">
                            <div class="no-overflow">
                                <div class="img-wrapper st__plax">
                                    <img
                                        src="/assets/home/home-casestudy-finturity.webp"
                                        srcset="/assets/home/home-casestudy-finturity.webp 525w"
                                        sizes="(min-width: 1024px) 25vw, 80vw"
                                        alt="project-image"
                                        width="589"
                                        height="641"
                                        class="st__plax--inner"/>
                                </div>
                            </div>
                            <div class="card-info">
                                <h3>Finturity</h3>
                                <p>Identity, Strategy, Website, Marketing</p>
                            </div>
                        </div>
                    </a>
                    <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/cruefilms/">
                        <div class="inner st__image" data-attribute-pos="right">
                            <div class="no-overflow">
                                <div class="img-wrapper">
                                    <video
                                        src="/assets/home/projects_cruefilms-reduced.mp4"
                                        width="720"
                                        height="480"
                                        playsinline
                                        muted
                                        loop
                                        autoplay
                                        preload="none"></video>
                                </div>
                            </div>
                            <div class="card-info">
                                <h3>Cruefilms</h3>
                                <p>Website</p>
                            </div>
                        </div>
                    </a>
                    <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/amparo/">
                        <div class="inner st__image" data-attribute-pos="right">
                            <div class="no-overflow">
                                <div class="img-wrapper st__plax">
                                    <img
                                        src="/assets/home/home-casestudy-amparo.webp"
                                        srcset=" /assets/home/home-casestudy-amparo@580.webp 580w, /assets/home/home-casestudy-amparo.webp 760w "
                                        sizes="(min-width: 1024px) 40vw, 80vw"
                                        alt="project-image"
                                        width="768"
                                        height="531"
                                        class="st__plax--inner"/>
                                </div>
                            </div>
                            <div class="card-info">
                                <h3>Amparo</h3>
                                <p>Identity, Website, Marketing</p>
                            </div>
                        </div>
                    </a>
                    <a class="card cursor__hover st__image-container" data-attribute-text="view" href="/work/lumina/">
                        <div class="inner st__image" data-attribute-pos="right">
                            <div class="no-overflow">
                                <div class="img-wrapper st__plax">
                                    <img
                                        src="/assets/home/home-casestudy-lumina.webp"
                                        srcset="/assets/home/home-casestudy-lumina.webp 768w"
                                        sizes="(min-width: 1024px) 40vw, 80vw"
                                        alt="project-image"
                                        width="768"
                                        height="531"
                                        class="st__plax--inner"/>
                                </div>
                            </div>
                            <div class="card-info">
                                <h3>Lumina</h3>
                                <p>Website, Identity, E-commerce</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        {% include "layouts/footer.njk" %}
    </main>
</div>