---
layout: layouts/base.njk
eleventyComputed:
    title: Contact | {{ metadata.title }}
description: Ready to transform your brand? Tell us about your challenges and see how our services can help.
---

<div class="barba-container loading" data-barba="container" data-barba-namespace="contact" id="smooth-wrapper">
    <main id="smooth-content">
        <section id="main">
            <div class="section__wrapper">
                <div class="row">
                    <div class="col">
                        <h1 class="headline__load lg">Let’s reimagine what’s possible</h1>
                        <div class="row__inner">
                            <div class="col__inner">
                                <p>Follow Us</p>
                                <p class="subtitle">
                                    <a href="https://www.instagram.com/duostudio_co/" target="_blank" rel="noopener noreferrer">Instagram</a>,
                                    <a href="https://www.linkedin.com/company/duostudio" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                                </p>
                            </div>
                            <div class="col__inner">
                                <p>Phone</p>
                                <p class="subtitle">
                                    <a href="tel:+13014445447">(301) 444-5447</a>
                                </p>
                            </div>
                            <div class="col__inner">
                                <p>General Inquiries</p>
                                <p class="subtitle">
                                    <a href="mailto:hello@duo-studio.co">hello@duo-studio.co</a>
                                </p>
                            </div>
                            <div class="col__inner">
                                <p>Main Hubs</p>
                                <p class="subtitle">DC, Maryland, Virginia</p>
                            </div>
                        </div>
                    </div>
                    <div class="col" id="form">
                        <div class="st__line"></div>
                        <form method="POST" name="contact" data-netlify="true" netlify-honeypot="bot-field">
                            <div class="wrapper">
                                <h2>Dear Duo Studio,</h2>
                                <div class="highlight"></div>
                            </div>
                            <textarea
                                type="text"
                                name="message"
                                id="message"
                                placeholder="Tell us about your company and how we can help"
                                required="required"></textarea>
                            <input type="text" placeholder="Name" name="name" id="name" required="required"/>
                            <input type="email" placeholder="Email" name="email" id="email" required="required"/>
                            <input type="text" placeholder="Company" name="company" id="company" required="required"/>
                            <input name="bot-field" type="hidden"/>
                            <button class="btn__circle">
                                <div class="no-overflow">
                                    <div class="inner">
                                        <p>Send Inquiry</p>
                                        <p>Message Sent!</p>
                                    </div>
                                </div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>