---
layout: layouts/base.njk
eleventyComputed:
  title: Services | {{ metadata.title }}
description: We provide branding, website and design services. See how we can help your business.
---

<div class="barba-container loading" data-barba="container" data-barba-namespace="services" id="smooth-wrapper">
    <main id="smooth-content">
        <section id="banner">
            <div class="section__wrapper">
                <h1 class="lg headline__load">A 360° approach to creative storytelling</h1>
                <div class="st__plax --banner">
                    <img
                        srcset="/assets/services/services-banner.webp, /assets/services/services-banner@1080.webp 1080w"
                        src="/assets/services/services-banner.webp"
                        sizes="100vw"
                        alt="services-banner"
                        class="st__plax--inner"
                        width="1920"
                        height="1184"/>
                </div>
            </div>
        </section>
        <section id="services">
            <div class="section__wrapper">
                <h2 class="st__text">
                    <span>Our Expertise</span>A DC design studio with a relentless passion for crafting personalized digital marketing solutions
                </h2>
                <div class="row plax__cols">
                    <a class="col cursor__hover --highlight" href="/services/branding-identity-system/">
                        <h2>Branding</h2>
                        <div class="no-overflow">
                            <div class="st__plax">
                                <img
                                    srcset="/assets/services/services__branding-thumbnail.webp 500w"
                                    src="/assets/services/services__branding-thumbnail.webp"
                                    sizes="(min-width: 1024px) 26vw, 88vw"
                                    alt="brand-strategy-image"
                                    class="st__plax--inner"
                                    loading="lazy"
                                    width="500"
                                    height="640"/>
                            </div>
                        </div>
                        <p class="subtitle">
                            We translate the values of your company into a brand that speaks to your audience and outshines your competitors. We
                            start off with a strong brand strategy and finish with an all-encompassing identity system that includes a logo design,
                            messaging, and brand guidelines.
                        </p>
                        <div class="btn__small">Learn More</div>
                    </a>
                    <a class="col cursor__hover --highlight" href="/services/web-design-development/">
                        <h2>Websites</h2>
                        <div class="no-overflow">
                            <div class="st__plax">
                                <img
                                    srcset="/assets/services/services__website-thumbnail.webp 500w"
                                    src="/assets/services/services__website-thumbnail.webp"
                                    sizes="(min-width: 1024px) 26vw, 88vw"
                                    alt="brand-identity-image"
                                    class="st__plax--inner"
                                    loading="lazy"
                                    width="500"
                                    height="640"/>
                            </div>
                        </div>
                        <p class="subtitle">
                            Websites serve as the gateway to your company, and first impressions matter. From interactive portfolios to e-commerce
                            marketplaces, we combine unique web design and custom web development tailor-made for you and your users.
                        </p>
                        <div class="btn__small">Learn More</div>
                    </a>
                    <a class="col cursor__hover --highlight" href="/services/graphic-design/">
                        <h2>Content</h2>
                        <div class="no-overflow">
                            <div class="st__plax">
                                <img
                                    srcset="/assets/services/services__content-thumbnail.webp 500w"
                                    src="/assets/services/services__content-thumbnail.webp"
                                    sizes="(min-width: 1024px) 26vw, 88vw"
                                    alt="content-image"
                                    class="st__plax--inner"
                                    loading="lazy"
                                    width="500"
                                    height="640"/>
                            </div>
                        </div>
                        <p class="subtitle">
                            There’s no limit to how you market your company and what your brand can do. With our art direction and team’s diverse
                            skills, see your company's vision come alive through print and digital graphic design, illustration, and motion
                            graphics.
                        </p>
                        <div class="btn__small">Learn More</div>
                    </a>
                </div>
            </div>
        </section>
        <section id="process" class="bg__trigger--custom">
            <div class="section__wrapper --process">
                <header>
                    <div class="title st__headline">
                        Success simplified:
                        <br>Our failproof process
                        </div>
                        <a href="/contact" class="btn__circle">
                            <p>Start a Project</p>
                        </a>
                    </header>
                    <div class="row horizontal">
                        <div class="col">
                            <div class="btn__small --tag">001</div>
                            <h2>Onboarding</h2>
                            <p>Each project kicks off with a well-crafted plan and carefully devised timeline. We take great care in the initial set
                                up, so we can then shift our focus to what really counts for the rest of the project: nurturing your brand.</p>
                        </div>
                        <div class="col">
                            <div class="btn__small --tag">002</div>
                            <h2>Discovery</h2>
                            <p>Think of us as your brand therapists. Through collaborative discovery workshops, we take a deep-dive into your
                                challenges, target audience, market dynamics and persona to uncover the core of your business.</p>
                        </div>
                        <div class="col">
                            <div class="btn__small --tag">003</div>
                            <h2>Strategy</h2>
                            <p>A successful project is rooted in a compelling brand strategy. We pinpoint the gap in your market, and then develop a
                                brand positioning framework and an engaging roadmap that ignites action.</p>
                        </div>
                        <div class="col">
                            <div class="btn__small --tag">004</div>
                            <h2>Execution</h2>
                            <p>Now, it’s time for action. We transform our strategy findings into a physical and digital brand that reflects your
                                values. This can be anything from: logo design, web design, web development, graphic design, and more.</p>
                        </div>
                        <div class="col">
                            <div class="btn__small --tag">005</div>
                            <h2>Hand-off</h2>
                            <p>The final product is all yours. With careful organization and a detailed hand-off meeting, we equip our clients to
                                confidently take the reins and successfully manage their project (with our ongoing support, of course).</p>
                        </div>
                        <div class="col">
                            <div class="btn__small --tag">006</div>
                            <h2>Support</h2>
                            <p>Our aim extends beyond a smooth hand-off meeting; we aspire to foster a flourishing partnership for decades to come.
                                We offer long-term marketing plans, retainers and maintenance plans so your brand can grow with you.</p>
                        </div>
                        <div class="progress">
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="why" class="cursor__hover" data-attribute-text="Switch">
                <div class="section__wrapper">
                    <div class="row">
                        <div class="col">
                            <video
                                src="/assets/services/services__our-specialty.mp4"
                                autoplay="autoplay"
                                loop="loop"
                                muted="muted"
                                playsinline="playsinline"
                                class="mask"></video>
                            <div class="title st__headline">Our specialty</div>
                            <p class="st__text">We see each project as an opportunity to discover new limits in what’s possible. With our clients as
                                our collaborative partners, our mission is to create eye-catching designs that make an immediate impact, while leaving a
                                lasting imprint for the future.</p>
                        </div>
                        <div class="col">
                            <video
                                src="/assets/services/services__your-growth.mp4"
                                autoplay="autoplay"
                                loop="loop"
                                muted="muted"
                                playsinline="playsinline"
                                class="mask"></video>
                            <div class="title st__headline">Your growth</div>
                            <p class="st__text">We never stop looking ahead. As your go-to digital design studio, we work with you to address
                                overcome real-world challenges in a changing climate. From logo designs to digital marketing campaigns, we implement
                                multiple strategies that stimulate growth.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="testimonial">
                <div class="section__wrapper">
                    <div class="content">
                        <h2 class="st__text">"Duo has a creative output that can rival any major design studio"</h2>
                        <p class="st__text">“I’ve worked with Duo Studio on multiple projects. They delivered best in class designs and
                            development capabilities each and every time! Sonia, Dat, and the entire team at Duo never ceases to amaze me and my
                            partners with their down-to-earth attitude, reliability, and quality of work. To top that off, Duo has a creative output
                            that can rival any major design studio, with an added bonus of personalized attention and lightning-fast communication.
                            I highly recommend Duo Studio as a strategic partner for your next design project."</p>
                        <p class="subtitle st__text">MGNY Consulting<br>Yuri Geylik</p>
                        </div>
                    </div>
                </section>
                {% include "layouts/footer.njk" %}
            </div>
        </main>
    </div>
</div>