#smooth-wrapper[data-barba-namespace="studio"] {
	#smooth-content {
		overflow-x: hidden !important;
	}
	#banner {
		padding: calc(calc(calc(#{$spacer} * 1.5) + #{$nav-spacer})) $gutter $spacer;
		@media screen and (max-width: $mobile-breakpoint) {
			padding: calc(calc(#{$mobile-spacer * 2} + #{$nav-spacer})) $mobile-gutter
				6rem;
		}

		p {
			width: 34vw;
			text-wrap: balance;
			@media screen and (max-width: $mobile-breakpoint) {
				width: 100%;
			}
			&:not(:last-child) {
				margin: $spacer 0 1em;
			}
		}
	}

	#full-image {
		display: flex;
		height: 100vh;
		min-height: 400px;
		@media screen and (max-width: $mobile-breakpoint) {
			height: 75vh;
		}
		.section__wrapper {
			position: relative;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.title {
			position: absolute;
			left: 0;
			bottom: 0;
			color: $color-white;
			mix-blend-mode: difference;
			padding: $gutter;
			text-wrap: balance;
		}
	}

	#join {
		padding: $spacer 0;
		@media screen and (max-width: $mobile-breakpoint) {
			padding: #{$mobile-spacer * 1.5} 0;
			overflow: hidden;
		}
		.title {
			text-align: center;
			line-height: 1;
			padding: 0 $gutter;
			> .line__outer {
				display: block !important;
			}
			@media screen and (max-width: $mobile-breakpoint) {
				max-width: 40rem;
				margin: 0 auto;

				br {
					display: none;
				}
			}
		}
		.row {
			justify-content: center;
			align-items: center;
			text-align: center;
			margin-top: $spacer;
			@media screen and (max-width: $mobile-breakpoint) {
				flex-direction: row;

				@media screen and (max-width: $mobile-breakpoint-s) {
					flex-direction: column;
				}
			}
			.col {
				width: 30vw;
				max-width: 576px;
				flex-shrink: 0;
				align-items: center;
				@media screen and (max-width: $mobile-breakpoint) {
					width: 50vw;

					&:nth-child(1),
					&:nth-child(3) {
						width: 50vw;
						min-width: 250px;
					}
					@media screen and (max-width: $mobile-breakpoint-s) {
						&:nth-child(1) {
							margin-right: auto;
						}
						&:nth-child(2) {
							width: 100%;
							padding: $mobile-spacer $mobile-gutter;
						}

						&:nth-child(3) {
							margin-left: auto;
						}
					}
				}
				p {
					text-wrap: balance;
					padding: 1rem 14% $mobile-gutter;
					@media screen and (max-width: $laptop-breakpoint) {
						padding: 1rem 10% $mobile-gutter;
					}
					@media screen and (max-width: $mobile-breakpoint) {
						padding: $mobile-gutter;
					}
				}

				.btn__small {
					cursor: pointer;

					&:hover {
						color: $color-white;
						background-color: $color-black;
					}
				}
				img {
					width: 100%;
				}
			}
		}
	}

	#services {
		padding: $spacer 0;
		margin-top: -1px;
		position: relative;
		@media screen and (max-width: $mobile-breakpoint) {
			padding: #{$mobile-spacer * 1.5} 0;
		}

		> h1 {
			@media screen and (max-width: $mobile-breakpoint) {
				max-width: 40rem;
				margin: 0 auto;
			}
		}
		.row {
			padding: $spacer $gutter 0;
			justify-content: space-between;

			@media screen and (max-width: $mobile-breakpoint) {
				overflow-x: auto;
				padding: $mobile-spacer $mobile-gutter $mobile-gutter;
			}
			.col {
				&:nth-child(1) {
					opacity: 0;
					transition: opacity 0.2s ease-in-out;
					width: 19vw;
					min-width: 310px;
					@media screen and (max-width: $mobile-breakpoint) {
						display: none;
					}
					body.bg__dark & {
						opacity: 1;
					}
					h3 {
						span {
							@extend h3;
							font-size: inherit;
							text-transform: initial;
							display: table;
							position: relative;
							color: #2e2929;
							.mask {
								&::before {
									content: attr(data-attribute-text);
									white-space: nowrap;
									position: absolute;
									color: $color-white;
								}
								display: flex;
								position: absolute;
								left: 0;
								top: 0;
								width: 0;
								height: 100%;
								z-index: 1;
								transition: background 0.2s ease-in-out;
								overflow: hidden;
							}
						}
					}
				}
				&:nth-child(2) {
					width: 55vw;
					flex-shrink: 0;
					@media screen and (max-width: $mobile-breakpoint) {
						width: 100%;
					}
					.row__inner {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						align-items: flex-start;
						@media screen and (max-width: $mobile-breakpoint) {
							flex-wrap: nowrap;
						}
						.col__inner {
							display: flex;
							flex-wrap: wrap;
							width: calc(50% - 4rem);
							transform: translate(0, 0) !important;
							@media screen and (max-width: $mobile-breakpoint) {
								width: 80%;
								flex-shrink: 0;
								padding-right: calc(#{$mobile-gutter} * 2);
								max-width: 25rem;
							}
							> * {
								width: 100%;
							}
							span {
								margin-bottom: 0.2rem;
							}
							h1 {
								margin: 1.5rem 0 0;
								line-height: 1;
								@media screen and (max-width: $mobile-breakpoint) {
									margin-bottom: 0.5rem;
								}
							}
							&:nth-child(2) {
								margin: 35vw 0 -5vw;
								@media screen and (max-width: $mobile-breakpoint) {
									margin: 0;
								}
							}
						}
					}
				}
			}
		}
	}

	#testimonials {
		padding: calc(#{$spacer} * 2) 0;

		@media screen and (max-width: $mobile-breakpoint) {
			padding: $mobile-spacer * 2 $mobile-gutter;
		}
		aside {
			position: absolute;
			white-space: nowrap;

			@media screen and (max-width: $mobile-breakpoint) {
				position: static;
				transform: unset !important;
				margin-bottom: 0.2rem;
				text-align: center;
			}
			&.label {
				left: 2rem;
				top: 50%;
				transform: translate(-50%, calc(-50% - 0.5px)) rotate(-90deg);
				p {
					font-family: $font-ppmori;
				}
			}

			&.pagination {
				right: 2rem;
				top: 50%;
				transform: translate(50%, calc(-50% - 0.5px)) rotate(90deg);
				span {
					font-family: $font-ppmori;
				}

				.display {
					margin: 0;
					overflow: hidden;
					display: inline-flex;
					flex-direction: column;
					position: relative;
					min-width: 8px;
					vertical-align: text-bottom;
					&__inner {
						margin: 0;
						line-height: 1;
						@media screen and (max-width: $mobile-breakpoint) {
							white-space: unset;
						}

						@media screen and (max-width: 375px) {
							height: 73px;
						}
						&:not(:first-of-type) {
							position: absolute;
							top: 0;
							left: 0;
							transform: translate(0%, 100%);
						}
					}
				}
			}
		}
		.entry {
			width: 75vw;
			display: grid;
			margin: 0 auto;
			text-align: center;
			gap: $gutter / 2;
			grid-template:
				"excerpt"
				"thumbnail"
				"content";
			@media screen and (max-width: $mobile-breakpoint) {
				margin-top: $mobile-gutter;
				width: 100%;
				gap: $mobile-gutter;
				max-width: 40rem;

				grid-template:
					"excerpt"
					"thumbnail"
					"btn"
					"content";
			}
			&__excerpt,
			&__thumbnail,
			&__content {
				position: relative;
				& > * {
					&:not(:first-child) {
						opacity: 0;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
					}
				}
			}

			&__excerpt {
				grid-area: excerpt;
				h4 {
					&:not(:first-child) {
						transform: translateY(0.5rem);
					}

					&:nth-child(1) {
						padding: 0 9.5vw;
					}

					&:nth-child(2) {
						padding: 0 5vw;
					}
					&:nth-child(3) {
						padding: 0 5vw;
					}

					&:nth-child(4) {
						padding: 0 7vw;
					}

					&:nth-child(5) {
						padding: 0 15vw;
					}

					@media screen and (max-width: $mobile-breakpoint) {
						padding: 0 !important;
						transform: translate(0, 0) !important;
					}
				}
			}
			&__thumbnail {
				grid-area: thumbnail;
				width: 14vw;
				margin: 0 auto;
				@media screen and (max-width: $mobile-breakpoint) {
					width: 40vw;
					max-width: 235px;
				}
			}
			&__content {
				grid-area: content;
				width: 45vw;
				margin: 0 auto;
				@media screen and (max-width: $mobile-breakpoint) {
					width: 100%;

					> * {
						&:not(:nth-child(1)):not(:nth-child(2)) {
							opacity: 0;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
						}
					}
				}

				&--body {
					> p {
						&:not(:first-of-type) {
							margin-top: 1rem;
						}
					}
					.credit {
						margin-top: 1rem;
						.subtitle {
							margin-bottom: 0.2rem;
						}
					}
				}
			}

			.btn__small {
				grid-area: btn;
				display: none;
				@media screen and (max-width: $mobile-breakpoint) {
					display: block;
					margin: auto;
					position: relative;
					opacity: 1;
				}
			}
		}
	}
	#team {
		margin-top: -1px;
		overflow: hidden;
		.container {
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			position: relative;
			@media (hover: none) {
				align-items: unset;
				height: auto !important;
				padding: $mobile-spacer 0;
			}

			@media screen and (max-width: $mobile-breakpoint) {
				align-items: unset;
			}
			header {
				padding: 0 $gutter;
				justify-content: space-between;
				align-items: center;
				@media screen and (max-width: $mobile-breakpoint) {
					flex-direction: row;
					padding: 0 $mobile-gutter;
				}
				.pagination {
					position: relative;
					width: 300px;
					display: flex;
					align-items: center;
					@media screen and (max-width: $mobile-breakpoint) {
						width: auto;
						justify-content: flex-end;
						margin-top: 0.2rem;
					}
					.scrollbar-container {
						position: relative;
						max-width: 250px;
						width: 100%;
						margin-right: 1rem;
						margin-top: 7px;
						@media screen and (max-width: $mobile-breakpoint) {
							display: none;
						}
						.scrollbar {
							position: absolute;
							left: 1%;
							bottom: 3px;
							height: 1px;
							width: 98%;
							background: rgba(0, 0, 0, 0.1);
							overflow: hidden;
							.bar {
								background: $color-black;
								position: absolute;
								height: 100%;
								left: 0;
								width: 0%;
							}
						}
					}
				}
			}

			.row {
				margin: 4vh 0 0;
				padding: 0 $gutter;
				flex-shrink: 0;

				@media screen and (max-width: $mobile-breakpoint) {
					padding: 0 $mobile-gutter;
					flex-direction: row;
					overflow-x: auto;
					h4 {
						margin-bottom: 0.5rem;
					}
				}
				&:nth-child(1) {
					margin-top: 0;
					width: 100%;

					@media screen and (max-width: $mobile-breakpoint) {
						flex-direction: column;
						align-items: flex-start;
					}
				}

				.col {
					width: 49vh;
					flex-shrink: 0;
					&:not(:last-child) {
						padding-right: 3vw;
					}
					&:last-child {
						width: calc(49vh - 3vw);
					}
					@media screen and (max-width: $mobile-breakpoint) {
						width: 80% !important;
						max-width: 20rem;
						padding-right: 0 !important;
						&:not(:last-of-type) {
							margin-right: $mobile-gutter * 2;
						}
					}

					.no-overflow {
						display: flex;
						position: relative;
						align-items: flex-start;
						img {
							width: 100%;
							&:nth-child(2) {
								position: absolute;
								top: 0;
								left: 0;
								opacity: 0;
								filter: blur(10px);
							}
						}
					}

					.team-info {
						display: flex;
						flex-direction: column;
						padding: 1em 0;
						justify-content: space-between;
					}
				}
			}
		}
	}
}

#testimonial {
	position: relative;
	padding: calc(#{$spacer} * 1.5) $gutter;
	margin-top: -1px;

	@media screen and (max-width: $mobile-breakpoint) {
		padding: 0 $mobile-gutter #{$mobile-spacer * 2};
	}

	.row {
		position: relative;
		width: 100%;
		.col {
			&:nth-child(1) {
				white-space: nowrap;
				padding: 0.4em 4em 0 0;
				@media screen and (max-width: $mobile-breakpoint) {
					padding: 0;
					margin-bottom: $mobile-gutter;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
				}
				span {
					margin-bottom: 0.2em;
					display: block;
				}
				.inner {
					&:not(:first-of-type) {
						margin-top: 3em;
						opacity: 0.3;
						@media screen and (max-width: $mobile-breakpoint) {
							opacity: 0;
							transform: translateY(1em);
							position: absolute;
							top: 0;
							margin-top: 0;
						}
					}
				}
			}

			&:nth-child(2) {
				max-width: 50vw;
				margin: auto;
				position: relative;
				@media screen and (max-width: $mobile-breakpoint) {
					max-width: 100%;
				}
				.content {
					&:not(:first-of-type) {
						position: absolute;
						top: 0;
						transform: translateY(1em);
						opacity: 0;
					}
					h2 {
						&:not(:first-of-type) {
							margin-top: 1.5em;
						}
					}
				}
			}
		}
	}
}
