$font-ppmori: "PPMori-Regular", sans-serif;
$font-ppmori-bold: "PPMori-SemiBold", sans-serif;
$font-suisse: "SuisseIntl-Book-WebXL", sans-serif;
$font-suisse-r: "SuisseIntl-Regular-WebXL", sans-serif;
$font-suisse-l: "SuisseIntl-Light-WebXL", sans-serif;

$color-white: #fefcff;
$color-pink: #edbfff;
$color-black: #0f0d0d;
$color-grey: #f3f3f3;

$mobile-breakpoint-s: 550px;
$mobile-breakpoint: 1024px;
$tablet-breakpoint: 1280px;
$laptop-breakpoint: 1440px;

$font-size-h1: clamp(50px, 7.5vw, 144px);
$font-size-h2: clamp(26px, 2.9166vw, 56px);
$font-size-h3: clamp(20px, 1.6667vw, 32px);
$font-size-p: clamp(16px, 1.145vw, 22px);

$nav-spacer: calc(max(52px, 3.125vw));

$spacer: calc(min(8vw, 153px));
$gutter: calc(min(6vw, 115px));

$mobile-spacer: 4rem;
$mobile-gutter: 1.5rem;
$headline-spacing: 1em;
