---
layout: layouts/base.njk
eleventyComputed:
    title: Studio | {{ metadata.title }}
description: We work with brands looking to stand out by crafting them unique digital experiences.
---

<div class="barba-container loading" data-barba="container" data-barba-namespace="studio" id="smooth-wrapper">
    <main id="smooth-content">
        <section id="banner">
            <div class="section__wrapper">
                <h1 class="headline__load">Digitally-driven,<br>
                        human made</h1>
                    <p>A DC design studio est. in 2020</p>
                    <p>
                        The name Duo symbolizes the fusion of design and technology. This approach powers all our projects - from identity
                        systems, to web design, and web development. By combining all parts of creation, we discover innovative digital
                        solutions that change businesses. Ultimately, our commitment to client success drives us to create work that we’re
                        extremely proud of.
                    </p>
                </div>
            </section>
            <section id="full-image">
                <div class="section__wrapper">
                    <img
                        srcset=" /assets/studio/studio-image__major@1024.webp 1024w, /assets/studio/studio-image__major.webp 1920w "
                        sizes="100vw"
                        src="/assets/studio/studio-image__major.webp"
                        alt="intro-image"
                        width="1920"
                        height="1310"/>
                    <div class="title st__headline">Our values create meaningful connections</div>
                </div>
            </section>
            <section id="values" class="services-features bg__trigger">
                <div class="section__wrapper">
                    <div class="row">
                        <div class="col">
                            <h2>Our Values</h2>
                        </div>
                        <div class="col">
                            <div class="inner">
                                <span class="btn__small --tag">001</span>
                                <h3>Great minds think alike</h3>
                                <div class="row__inner">
                                    <p>Collaboration is deeply ingrained in our culture. We welcome the diverse perspectives of our team and clients. The
                                        most rewarding projects are the ones where everyone is involved.</p>
                                </div>
                            </div>
                            <div class="inner">
                                <span class="btn__small --tag">002</span>
                                <h3>One of a kind, every time</h3>
                                <div class="row__inner">
                                    <p>At Duo, we embrace the individuality of each business with custom solutions. This means logo designs originate from
                                        sketches, and websites are custom coded. When we say there are no limits to what we can create, we really mean it.</p>
                                </div>
                            </div>
                            <div class="inner">
                                <span class="btn__small --tag">003</span>
                                <h3>Design led by empathy</h3>
                                <div class="row__inner">
                                    <p>With empathy as our guiding principle, our goal is to bridge the gap between brands and people. Design is a powerful
                                        medium of communication and connects the world through its universal language.</p>
                                </div>
                            </div>
                            <div class="inner">
                                <span class="btn__small --tag">004</span>
                                <h3>Fueled by culture and innovation</h3>
                                <div class="row__inner">
                                    <p>As the world evolves, so do we. Curiosity drives us to stay caught up on the latest web development technologies and
                                        graphic design trends. We honor the fundamentals of design while integrating tomorrow’s innovative solutions.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="join">
                <div class="section__wrapper">
                    <div class="st__line"></div>
                    <div class="lg st__headline title">
                        Behind the results is a<br>
                            small & mighty team
                        </div>
                        <div class="row">
                            <div class="col">
                                <img
                                    srcset=" /assets/studio/studio__intro-image--1@325.webp 325w, /assets/studio/studio__intro-image--1.webp 570w "
                                    sizes="(min-width: 1024px) 30vw, 45vw"
                                    src="/assets/studio/studio__intro-image--1.webp"
                                    alt="intro-image"
                                    width="570"
                                    height="705"
                                    class="st__image--spread"/>
                            </div>
                            <div class="col">
                                <h2>Built by creatives,<br>
                                        for creatives</h2>
                                    <p class="subtitle">
                                        At our core, we’re a group of friends with a diverse blend of creative skills and talents. We create good work because
                                        we love what we do and who we work with. With a shared vision to produce inspiring, challenging, and motivating results,
                                        there’s no limit to what we can achieve together.
                                    </p>
                                    <a href="mailto:jobs@duo-studio.co" class="btn__small --tag cursor__hover --highlight">Join Our Team</a>
                                </div>
                                <div class="col">
                                    <img
                                        srcset=" /assets/studio/studio__intro-image--2@325.webp 325w, /assets/studio/studio__intro-image--2.webp 570w "
                                        sizes="(min-width: 1024px) 30vw, 45vw"
                                        src="/assets/studio/studio__intro-image--2.webp"
                                        alt="intro-image"
                                        width="570"
                                        height="705"
                                        class="st__image--spread"/>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="team">
                        <div class="st__line"></div>
                        <div class="section__wrapper">
                            <div class="container full-height">
                                <header class="row">
                                    <h2 class="st__headline">The people of Duo</h2>
                                    <div class="pagination">
                                        <div class="scrollbar-container">
                                            <div class="scrollbar">
                                                <div class="bar"></div>
                                            </div>
                                        </div>
                                        <span class="cursor__hover --highlight switch">Switch</span>
                                    </div>
                                </header>
                                <div class="row horizontal">
                                    <div class="col">
                                        <div class="no-overflow">
                                            <img
                                                srcset="/assets/studio/Sonia_Polyzos--1.webp 450w"
                                                sizes="(min-width: 1024px) 24vw, 58vw"
                                                src="/assets/studio/Sonia_Polyzos--1.webp"
                                                alt="team-image"
                                                width="450"
                                                height="579"
                                                loading="lazy"/>
                                            <img
                                                srcset="/assets/studio/Sonia_Polyzos--2.webp 450w"
                                                sizes="(min-width: 1024px) 24vw, 58vw"
                                                src="/assets/studio/Sonia_Polyzos--2.webp"
                                                alt="team-image"
                                                width="450"
                                                height="579"
                                                loading="lazy"/>
                                        </div>
                                        <div class="team-info">
                                            <h3>Sonia Polyzos</h3>
                                            <p>Creative Director & Co-Founder</p>
                                        </div>
                                    </div>
                                    {# <div class="col">
                                        <div class="no-overflow">
                                            <img
                                                srcset="/assets/studio/Melody_Sahar-Khiz--1.webp 450w"
                                                sizes="(min-width: 1024px) 24vw, 58vw"
                                                src="/assets/studio/Melody_Sahar-Khiz--1.webp"
                                                alt="team-image"
                                                width="450"
                                                height="579"
                                                loading="lazy"/>
                                            <img
                                                srcset="/assets/studio/Melody_Sahar-Khiz--2.webp 450w"
                                                sizes="(min-width: 1024px) 24vw, 58vw"
                                                src="/assets/studio/Melody_Sahar-Khiz--2.webp"
                                                alt="team-image"
                                                width="450"
                                                height="579"
                                                loading="lazy"/>
                                        </div>
                                        <div class="team-info">
                                            <h3>Melody Sahar-Khiz</h3>
                                            <p>Digital Strategist</p>
                                        </div>
                                    </div> #}
                                    <div class="col">
                                        <div class="no-overflow">
                                            <img
                                                srcset="/assets/studio/Isak_Shah--1.webp 450w"
                                                sizes="(min-width: 1024px) 24vw, 58vw"
                                                src="/assets/studio/Isak_Shah--1.webp"
                                                alt="team-image"
                                                width="450"
                                                height="579"
                                                loading="lazy"/>
                                            <img
                                                srcset="/assets/studio/Isak_Shah--2.webp 450w"
                                                sizes="(min-width: 1024px) 24vw, 58vw"
                                                src="/assets/studio/Isak_Shah--2.webp"
                                                alt="team-image"
                                                width="450"
                                                height="579"
                                                loading="lazy"/>
                                        </div>
                                        <div class="team-info">
                                            <h3>Isak Shah</h3>
                                            <p>Illustrator</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="no-overflow">
                                            <img
                                                srcset="/assets/studio/Florence_Wang--1.webp 450w"
                                                sizes="(min-width: 1024px) 24vw, 58vw"
                                                src="/assets/studio/Florence_Wang--1.webp"
                                                alt="team-image"
                                                width="450"
                                                height="579"
                                                loading="lazy"/>
                                            <img
                                                srcset="/assets/studio/Florence_Wang--2.webp 450w"
                                                sizes="(min-width: 1024px) 24vw, 58vw"
                                                src="/assets/studio/Florence_Wang--2.webp"
                                                alt="team-image"
                                                width="450"
                                                height="579"
                                                loading="lazy"/>
                                        </div>
                                        <div class="team-info">
                                            <h3>Florence Wang</h3>
                                            <p>Brand Designer</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="no-overflow">
                                            <img
                                                srcset="/assets/studio/Dat_Nguyen--1.webp 450w"
                                                sizes="(min-width: 1024px) 24vw, 58vw"
                                                src="/assets/studio/Dat_Nguyen--1.webp"
                                                alt="team-image"
                                                width="450"
                                                height="579"
                                                loading="lazy"/>
                                            <img
                                                srcset="/assets/studio/Dat_Nguyen--2.webp 450w"
                                                sizes="(min-width: 1024px) 24vw, 58vw"
                                                src="/assets/studio/Dat_Nguyen--2.webp"
                                                alt="team-image"
                                                width="450"
                                                height="579"
                                                loading="lazy"/>
                                        </div>
                                        <div class="team-info">
                                            <h3>Dat Nguyen</h3>
                                            <p>Developer & Co-Founder</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    {% include "layouts/footer.njk" %}
                </main>
            </div>