---
layout: layouts/base.njk
eleventyComputed:
  title: Web Design & Development | {{ metadata.title }}
description: We provide branding, website and design services. See how we can help your business.
---

<div
    class="barba-container loading single__service"
    data-barba="container"
    data-barba-namespace="services"
    id="smooth-wrapper">
    <main id="smooth-content">
        <section id="service-wrapper" class="st__plax --banner">
            <div class="section__wrapper">
                <h1 class="lg headline__load">Custom-crafted<br>creative websites</h1>
                    <div class="row">
                        <h2>Service</h2>
                        <h2>002/003</h2>
                    </div>
                    <div class="no-overflow">
                        <img
                            srcset="/assets/services/services__websites@625.webp 625w, /assets/services/services__websites.webp 1680w"
                            src="/assets/services/services__websites.webp"
                            sizes="88vw"
                            alt="web design banner"
                            class="st__plax--inner"
                            width="1680"
                            height="834"/>
                    </div>
                </div>
            </section>
            <section id="intro" class="services-features">
                <div class="section__wrapper">
                    <div class="row">
                        <div class="col">
                            <h2>Websites that go beyond the traditional static experience</h2>
                        </div>
                        <div class="col">
                            <p>Websites are your company’s initial introduction, so we design them to inspire engagement. Through storytelling,
                                interactions, and sound, we build websites that connect with audiences on a deeper level.</p>
                            <p>Our approach with every project is rooted in strategy and planning. We meticulously map out the structure and user
                                journey before the web design and web development. Whether it’s an e-commerce platform, portfolio website, or a landing
                                page, we avoid a one-size-fits-all approach. Instead, our custom-crafted creative websites are refined through
                                collaborative sessions to ensure we deliver the right message.
                            </p>
                            <p>
                                Websites provide a valuable opportunity for audiences to interact with your brand; that’s why we fine-tune every
                                element, from digital content creation to SEO optimization. With attention to detail, we ensure that your website
                                captivates leads and fosters engagement, until they become your customer.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="focus" class="services-features">
                <div class="section__wrapper">
                    <div class="st__line"></div>
                    <div class="row">
                        <div class="col">
                            <h2>Our Focus</h2>
                        </div>
                        <div class="col">
                            <div class="inner">
                                <span class="btn__small --tag">001</span>
                                <h3>Web Design & Content</h3>
                                <div class="row__inner grid">
                                    <p>Sitemaps</p>
                                    <p>Wireframes</p>
                                    <p>UI/UX Design</p>
                                    <p>Copywriting</p>
                                    <p>Landing Pages</p>
                                    <p>Asset Production</p>
                                    <p>Responsive Web Design</p>
                                    <p>Interactive Prototypes</p>
                                </div>
                            </div>
                            <div class="inner">
                                <span class="btn__small --tag">002</span>
                                <h3>Web Development & Functionality</h3>
                                <div class="row__inner grid">
                                    <p>Front-End Development</p>
                                    <p>Back-End Development</p>
                                    <p>CMS Implementation</p>
                                    <p>Analytics & Tracking</p>
                                    <p>SEO Optimization</p>
                                    <p>API Integration</p>
                                    <p>CRM Integration</p>
                                    <p>Hosting</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="related-case-studies">
                <div class="section__wrapper">
                    <div class="st__line"></div>
                    <div class="entry__related">
                        <h2 class="st__headline">Related Case Studies</h2>
                        <div class="row">
                            <a class="col cursor__hover --highlight" href="/work/madegood/">
                                <div class="no-overflow">
                                    <div class="st__plax">
                                        <img
                                            srcset="/assets/work/madegood/madegood__banner@625.webp 625w, /assets/work/madegood/madegood__banner@1024.webp 1024w"
                                            src="/assets/work/madegood/madegood__banner@1024.webp 1024w"
                                            sizes="(min-width: 1024px) 50vw, 100vw"
                                            alt="madegood-thumbnail"
                                            class="st__plax--inner"
                                            width="1024"
                                            height="566"/>
                                    </div>
                                </div>
                                <h3>MadeGood</h3>
                                <p>Brand Strategy, Brand Identity, Website</p>
                            </a>
                            <a class="col cursor__hover --highlight" href="/work/cruefilms/">
                                <div class="no-overflow">
                                    <div class="st__plax">
                                        <img
                                            srcset="/assets/work/cruefilms/cruefilms__banner@625.webp 625w, /assets/work/cruefilms/cruefilms__banner@1024.webp 1024w"
                                            src="/assets/work/cruefilms/cruefilms__banner@1024.webp 1024w"
                                            sizes="(min-width: 1024px) 50vw, 100vw"
                                            alt="cruefilms-thumbnail"
                                            class="st__plax--inner"
                                            width="1024"
                                            height="566"/>
                                    </div>
                                </div>
                                <h3>Cruefilms</h3>
                                <p>Brand Strategy, Brand Identity, Website</p>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            {% include "layouts/footer.njk" %}
        </main>
    </div>