---
layout: layouts/base.njk
eleventyComputed:
  title: Branding & Identity System | {{ metadata.title }}
description: We provide branding, website and design services. See how we can help your business.
---

<div
    class="barba-container loading single__service"
    data-barba="container"
    data-barba-namespace="services"
    id="smooth-wrapper">
    <main id="smooth-content">
        <section id="service-wrapper" class="st__plax --banner">
            <div class="section__wrapper">
                <h1 class="lg headline__load">Branding &
                    <br>identity system</h1>
                    <div class="row">
                        <h2>Service</h2>
                        <h2>001/003</h2>
                    </div>
                    <div class="no-overflow">
                        <img
                            srcset="/assets/services/services__branding@625.webp 625w, /assets/services/services__branding.webp 1680w"
                            src="/assets/services/services__branding.webp"
                            sizes="88vw"
                            alt="branding banner"
                            class="st__plax--inner"
                            width="1680"
                            height="834"/>
                    </div>
                </div>
            </section>
            <section id="intro" class="services-features">
                <div class="section__wrapper">
                    <div class="row">
                        <div class="col">
                            <h2 class="st__headline">Your business visualized through brand storytelling</h2>
                        </div>
                        <div class="col">
                            <p class="st__text">A bold, strategic brand identity is what lies behind a strong first impression. There are two parts
                                to a strong brand: strategy and identity. Your brand strategy personifies your business, and your brand identity
                                visualizes it.</p>
                            <p class="st__text">Our approach focuses on value, discovering the “why” behind your company and then creating an
                                ecosystem for it to prosper. Through a series of brand consulting workshops, we explore your foundation and your
                                surroundings. Then with a strategic plan in place, we craft brand positioning, messaging, and brand guidelines,
                                translating your business on paper.</p>
                            <p class="st__text">
                                To leave your mark, a logo is not enough to stand out. Through an exploration of type, color, patterns, and movement, we
                                create an identity system that enhances the visual storytelling experience. The result? A cohesive brand identity that
                                echoes the finest qualities of your company, with the flexibility to evolve with you.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="focus" class="services-features">
                <div class="section__wrapper">
                    <div class="st__line"></div>
                    <div class="row">
                        <div class="col">
                            <h2 class="st__headline">Our Focus</h2>
                        </div>
                        <div class="col">
                            <div class="inner st__text">
                                <span class="btn__small --tag">001</span>
                                <h3>Brand Strategy</h3>
                                <div class="row__inner grid">
                                    <p>Brand Consulting</p>
                                    <p>User Personas</p>
                                    <p>Competitive Analysis</p>
                                    <p>Brand Messaging</p>
                                    <p>Positioning & Differentiation</p>
                                    <p>Journey Mapping</p>
                                </div>
                            </div>
                            <div class="inner st__text">
                                <span class="btn__small --tag">002</span>
                                <h3>Brand Identity</h3>
                                <div class="row__inner grid">
                                    <p>Art Direction</p>
                                    <p>Logo Design</p>
                                    <p>Design System</p>
                                    <p>Brand Naming</p>
                                    <p>Brand Guidelines</p>
                                    <p>Collateral Design</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="related-case-studies">
                <div class="section__wrapper">
                    <div class="st__line"></div>
                    <div class="entry__related">
                        <h2 class="st__headline">Related Case Studies</h2>
                        <div class="row">
                            <a class="col cursor__hover --highlight" href="/work/finturity/">
                                <div class="no-overflow">
                                    <div class="st__plax">
                                        <img
                                            srcset="/assets/work/finturity/finturity__banner@625.webp 625w, /assets/work/finturity/finturity__banner@1024.webp 1024w"
                                            src="/assets/work/finturity/finturity__banner@1024.webp 1024w"
                                            sizes="(min-width: 1024px) 50vw, 100vw"
                                            alt="finturity-thumbnail"
                                            class="st__plax--inner"
                                            width="1024"
                                            height="566"/>
                                    </div>
                                </div>
                                <h3>Finturity</h3>
                                <p>Brand Strategy, Brand Identity, Website, Graphic Design</p>
                            </a>
                            <a class="col cursor__hover --highlight" href="/work/amparo/">
                                <div class="no-overflow">
                                    <div class="st__plax">
                                        <img
                                            srcset="/assets/work/amparo/amparo__banner@625.webp 625w, /assets/work/amparo/amparo__banner@1024.webp 1024w"
                                            src="/assets/work/amparo/amparo__banner@1024.webp 1024w"
                                            sizes="(min-width: 1024px) 50vw, 100vw"
                                            alt="amparo-thumbnail"
                                            class="st__plax--inner"
                                            width="1024"
                                            height="566"/>
                                    </div>
                                </div>
                                <h3>Amparo Art</h3>
                                <p>Brand Strategy, Brand Identity, Website, E-Commerce</p>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            {% include "layouts/footer.njk" %}
        </main>
    </div>