<div class="footer-spacer footer-trigger">
    <footer>
        <div class="row top">
            <h2 class="st__headline headline__footer lg">Let's create an experience as remarkable as your business</h2>
            <a class="btn__circle" href="/contact/">
                <p>Get in Touch</p>
            </a>
        </div>
        <div class="row bottom">
            <div class="col">
                <h3>Don't miss out. Stay in the loop.</h3>
                <form method="POST" name="subscribe" data-netlify="true" netlify-honeypot="bot-field">
                    <input type="email" placeholder="Your Email" name="email" id="email" required="required"/>
                    <input name="bot-field" type="hidden"/>
                    <button class="btn__small --tag cursor__hover --highlight">
                        <div class="no-overflow">
                            <div class="inner">
                                <p>Subscribe</p>
                                <p>Subscribed!</p>
                            </div>
                        </div>
                    </button>
                </form>
            </div>
            <div class="col">
                <a class="cursor__hover --highlight" href="mailto:hello@duo-studio.co">
                    <h3>hello@duo-studio.co</h3>
                </a>
                <div class="row__inner">
                    <div class="col__inner">
                        <p>Main Hubs</p>
                        <ul class="subtitle">
                            <li>DC</li>
                            <li>Maryland</li>
                            <li>Virginia</li>
                        </ul>
                    </div>
                    <div class="col__inner">
                        <p>Social</p>
                        <ul class="subtitle">
                            <li>
                                <a
                                    href="https://www.instagram.com/duostudio_co/"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="cursor__hover --highlight">Instagram</a>
                            </li>
                            <li>
                                <a
                                    href="https://www.linkedin.com/company/duostudio/"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="cursor__hover --highlight">LinkedIn</a>
                            </li>
                            <li>
                                <a
                                    href="https://www.facebook.com/duostudioco/"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="cursor__hover --highlight">Facebook</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright subtitle">
            &copy;2025 Duo Studio |
            <a class="cursor__hover --highlight" href="/privacy-policy/">Privacy Policy</a>
        </div>
    </footer>
</div>