<nav>
    <ul>
        <li>
            <a href="/" class="cursor__hover --highlight">
                <img src="/assets/logo.svg" alt="logo" width="52" height="35"/>
            </a>
        </li>
        <li class="nav-item cursor__hover --highlight" data-attribute-item="home">
            <a href="/">Home<span>,</span>
            </a>
        </li>
        <li class="nav-item cursor__hover --highlight" data-attribute-item="work">
            <a href="/work/">Work<span>,</span>
            </a>
        </li>
        <li class="nav-item cursor__hover --highlight" data-attribute-item="services">
            <a href="/services/">Services<span>,</span>
            </a>
        </li>
        <li class="nav-item cursor__hover --highlight" data-attribute-item="studio">
            <a href="/studio/">Studio<span>,</span>
            </a>
        </li>
        <li class="nav-item cursor__hover --highlight" data-attribute-item="journal">
            <a href="/journal/">Journal<span>,</span>
            </a>
        </li>
        <li class="nav-item cursor__hover --highlight" data-attribute-item="contact">
            <a href="/contact/">Contact</a>
        </li>
        <li class="egg" data-attribute-item="easter-egg">
            <a href="/archive/" class="cursor__hide">Archive</a>
        </li>
        <div class="row mobile">
            <div class="col">
                <span>General Inquiries</span>
                <a href="mailto:hello@duo-studio.co" class="cursor__hover --highlight">hello@duo-studio.co</a>
            </div>
            <div class="col">
                <span>Follow Us</span>
                <div class="row">
                    <a
                        href="https://www.instagram.com/duostudio_co/"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="cursor__hover --highlight">Instagram,</a>
                    <a
                        href="https://www.linkedin.com/company/duostudio/"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="cursor__hover --highlight">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="nav-toggle">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </ul>
</nav>
<div class="nav-container">
    <div class="nav-container__inner home">
        <div class="nav-marquee">
            <div class="nav-marquee__container">
                <div class="nav-marquee__inner">
                    <div class="title">Home</div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-container__inner work">
        <div class="nav-marquee">
            <div class="nav-marquee__container">
                <div class="nav-marquee__inner">
                    <div class="title">Work</div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-container__inner services">
        <div class="nav-marquee">
            <div class="nav-marquee__container">
                <div class="nav-marquee__inner">
                    <div class="title">Services</div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-container__inner studio">
        <div class="nav-marquee">
            <div class="nav-marquee__container">
                <div class="nav-marquee__inner">
                    <div class="title">Studio</div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-container__inner journal">
        <div class="nav-marquee">
            <div class="nav-marquee__container">
                <div class="nav-marquee__inner">
                    <div class="title">Journal</div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-container__inner contact">
        <div class="nav-marquee">
            <div class="nav-marquee__container">
                <div class="nav-marquee__inner">
                    <div class="title">Contact</div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-container__inner ec">
        <div class="nav-marquee">
            <div class="nav-marquee__container">
                <div class="nav-marquee__inner">
                    <div class="title">ExtraCredit</div>
                </div>
            </div>
        </div>
    </div>
</div>