---
layout: layouts/base.njk
eleventyComputed:
    title: Finturity — A feminine brand name for a financial advising company
description: A feminine brand approach in a male-dominated industry.
---

<div
    class="barba-container finturity loading"
    data-barba="container"
    data-barba-namespace="project"
    id="smooth-wrapper">
    <main id="smooth-content">
        <section id="banner" class="pin__banner st__plax --banner">
            <div class="section__wrapper">
                <h1 class="top">Finturity</h1>
                <img
                    class="promo st__plax--inner"
                    srcset=" /assets/work/finturity/finturity__banner@1024.webp 1024w, /assets/work/finturity/finturity__banner.webp 1920w "
                    sizes="100vw"
                    src="/assets/work/finturity/finturity__banner.webp"
                    alt="banner-image"
                    width="1920"
                    height="1076"
                    loading="eager"/>
            </div>
        </section>
        <section id="intro">
            <div class="section__wrapper">
                <div class="row details">
                    <div class="col">
                        <span>003</span>
                        <p>Finturity</p>
                    </div>
                    <div class="col">
                        <span>Project Focus</span>
                        <p>Brand Naming, Logo Design, Copywriting, Collateral Design</p>
                    </div>
                    <div class="col">
                        <span>Services</span>
                        <p>
                            <a href="/services/branding-identity-system/" class="cursor__hover --highlight">Strategy, Identity</a>,
                            <a href="/services/web-design-development/" class="cursor__hover --highlight">Website</a>,
                            <a href="/services/graphic-design/" class="cursor__hover --highlight">Marketing</a>
                        </p>
                    </div>
                    <div class="col">
                        <span>Date</span>
                        <p>Completed Summer, 2022</p>
                    </div>
                </div>
                <h2 class="st__headline">
                    Empowering leaders to invest in their financial future
                </h2>
                <div class="row obj">
                    <div class="inner">
                        <div class="col st__text">
                            <span>Our Objective</span>
                        </div>
                        <div class="col st__text">
                            <h3>
                                Finturity is a financial advising company providing personalized retirement plans for organizations and nonprofits. From
                                brand naming and identity design to website design and content creation, we established an all-encompassing brand
                                experience that inspires people to save for a better future.
                            </h3>
                        </div>
                    </div>
                    <a class="btn__circle light" href="https://www.finturity.com/" target="_blank" rel="noopener noreferrer">
                        <p>View Website</p>
                    </a>
                </div>
            </div>
        </section>
        <section id="sec__001">
            <div class="section__wrapper">
                <div class="container">
                    <img
                        srcset=" /assets/work/finturity/finturity__sec-1@954.webp 954w, /assets/work/finturity/finturity__sec-1.webp 1116w "
                        src="/assets/work/finturity/finturity__sec-1.webp"
                        sizes="(min-width: 1024px) 58vw, 90vw"
                        alt="banner-image"
                        class="st__image"
                        width="1116"
                        height="743"
                        loading="lazy"/>
                </div>
                <div class="row">
                    <div class="col st__text">
                        <h2>
                            “Duo Studio brought my vision to life even better than I could have imagined. They were patient with me and made sure
                            everything was perfect.”
                        </h2>
                        <h3>Sarah Burton, CRPC®</h3>
                        <p>Founder & Financial Advisor</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="sec__002" class="full-width st__full-width">
            <div class="section__wrapper">
                <img
                    srcset=" /assets/work/finturity/finturity__sec-2@1024.webp 1024w, /assets/work/finturity/finturity__sec-2.webp 1920w "
                    sizes="100vw"
                    src="/assets/work/finturity/finturity__sec-2.webp"
                    alt="banner-image"
                    width="1920"
                    height="1084"/>
            </div>
        </section>
        <section id="sec__003">
            <div class="section__wrapper">
                <h2 class="st__headline">
                    A feminine brand approach in a male-dominated industry
                </h2>
                <div class="row">
                    <div class="col major">
                        <div class="video-wrapper">
                            <video playsinline muted loop autoplay preload="none" src="/assets/work/finturity/logo_gif.mp4"></video>
                        </div>
                    </div>
                    <div class="col minor">
                        <h3>Branding through naming, positioning and identity</h3>
                        <p>
                            Finturity ensures a bright financial future for all. Keeping that in mind, we crafted a brand name combining the key
                            terms of financial advising: Finance + Future. Positioning Finturity as a female-led finance company, we crafted an
                            identity with a softer, more personable approach, including: hues of pinks, greens and yellows, curved design elements
                            inspired by the logo wordmark, and friendly sans-serif typography.
                        </p>
                    </div>
                </div>
                <div class="container">
                    <img
                        class="st__image"
                        src="/assets/work/finturity/finturity__sec-3.webp"
                        alt="finturity-mockup"
                        srcset=" /assets/work/finturity/finturity__sec-3@954.webp 954w, /assets/work/finturity/finturity__sec-3.webp 1674w "
                        sizes="88vw"
                        width="1674"
                        height="706"
                        data-attribute-pos="right"
                        loading="lazy"/>
                </div>
            </div>
        </section>
        <section id="sec__004" class="bg__trigger">
            <div class="section__wrapper">
                <div class="row">
                    <div class="col">
                        <img
                            class="st__image"
                            src="/assets/work/finturity/finturity__sec-4--1.webp"
                            alt="finturity-mockup"
                            srcset="/assets/work/finturity/finturity__sec-4--1.webp 486w"
                            sizes="(min-width: 1024px) 25vw, 65vw"
                            width="486"
                            height="685"
                            loading="lazy"/>
                    </div>
                    <div class="col">
                        <img
                            class="st__image"
                            src="/assets/work/finturity/finturity__sec-4--2.webp"
                            alt="finturity-mockup"
                            srcset="/assets/work/finturity/finturity__sec-4--2.webp 486w"
                            sizes="(min-width: 1024px) 25vw, 65vw"
                            width="486"
                            height="685"
                            loading="lazy"/>
                    </div>
                    <div class="col">
                        <img
                            class="st__image"
                            src="/assets/work/finturity/finturity__sec-4--3.webp"
                            alt="finturity-mockup"
                            srcset="/assets/work/finturity/finturity__sec-4--3.webp 486w"
                            sizes="(min-width: 1024px) 25vw, 65vw"
                            width="486"
                            height="685"
                            loading="lazy"/>
                    </div>
                </div>
                <h2 class="st__headline">Finance communicated simply</h2>
                <div class="row pin__sticky">
                    <div class="col minor">
                        <h3>Design & content system</h3>
                        <p>
                            To align on a cohesive brand position, we crafted a design and content strategy system defining Finturity’s tailored
                            retirement plan solutions. We also established design guidelines and a messaging framework to ensure the brand remains
                            consistent throughout mediums and for generations to come.
                        </p>
                        <div class="progress-bar">
                            <div class="bar"></div>
                        </div>
                    </div>
                    <div class="col major">
                        <img
                            class="st__image"
                            src="/assets/work/finturity/finturity__sec-4--4.webp"
                            alt="finturity-mockup"
                            srcset=" /assets/work/finturity/finturity__sec-4--4@954.webp 954w, /assets/work/finturity/finturity__sec-4--4.webp 1100w
                                "
                            sizes="(min-width: 1024px) 57vw, 88vw"
                            width="1100"
                            height="1198"
                            data-attribute-pos="right"
                            loading="lazy"/>
                    </div>
                </div>
            </div>
        </section>
        <section id="sec__005">
            <div class="section__wrapper">
                <h2 class="st__headline">Building a marketing design toolkit</h2>
                <div class="row">
                    <div class="col major">
                        <img
                            class="st__image"
                            src="/assets/work/finturity/finturity__sec-5--1.webp"
                            alt="finturity-mockup"
                            srcset=" /assets/work/finturity/finturity__sec-5--1@954.webp 954w, /assets/work/finturity/finturity__sec-5--1.webp 1152w
                                "
                            sizes="(min-width: 1024px) 60vw, 88vw"
                            width="1152"
                            height="717"
                            loading="lazy"/>
                    </div>
                    <div class="col minor">
                        <h3>Marketing collateral and branded design assets</h3>
                        <p>
                            Following the formation of the brand, we created a print collateral package that consists of business cards,
                            letterheads, folders and envelopes. A custom icon library and motion graphics were developed to visually communicate
                            complex financial topics.
                        </p>
                    </div>
                </div>
                <div class="container">
                    <img
                        class="st__image"
                        src="/assets/work/finturity/finturity__sec-5--2.webp"
                        alt="finturity-mockup"
                        srcset=" /assets/work/finturity/finturity__sec-5--2@640.webp 640w, /assets/work/finturity/finturity__sec-5--2.webp 1676w
                            "
                        sizes="88vw"
                        width="1676"
                        height="1049"
                        data-attribute-pos="right"
                        loading="lazy"/>
                </div>
                <div class="row">
                    <div class="col">
                        <img
                            class="st__image"
                            src="/assets/work/finturity/finturity__sec-5--3.webp"
                            alt="finturity-mockup"
                            srcset="/assets/work/finturity/finturity__sec-5--3.webp 405w"
                            sizes="(min-width: 1024px) 20vw, 60vw"
                            width="405"
                            height="549"
                            loading="lazy"/>
                    </div>
                    <div class="col">
                        <img
                            class="st__image"
                            src="/assets/work/finturity/finturity__sec-5--4.webp"
                            alt="finturity-mockup"
                            srcset="/assets/work/finturity/finturity__sec-5--4.webp 805w"
                            sizes="(min-width: 1024px) 40vw, 80vw"
                            width="805"
                            height="724"
                            data-attribute-pos="right"
                            loading="lazy"/>
                    </div>
                </div>
            </div>
        </section>
        <section id="sec__006">
            <div class="section__wrapper">
                <h2 class="st__headline">
                    Stand-out web design in the traditional finance industry
                </h2>
                <div class="container">
                    <div class="video-wrapper">
                        <video playsinline muted loop autoplay preload="none" src="/assets/work/finturity/video_homepage.mp4"></video>
                    </div>
                </div>
                <div class="row pin__sticky">
                    <div class="col minor">
                        <h3>A personal digital experience</h3>
                        <p>
                            In the often confusing world of finance, we made it our mission to guide the audience through an intuitive user journey
                            that doesn’t overwhelm. We presented educational materials in interactive displays and honed in on lifestyle photography
                            to connect with with mission-driven organizations in need of Finturity’ services.
                        </p>
                        <div class="progress-bar">
                            <div class="bar"></div>
                        </div>
                    </div>
                    <div class="col major">
                        <img
                            class="st__image"
                            src="/assets/work/finturity/finturity__sec-6--1.webp"
                            alt="finturity-mockup"
                            srcset="/assets/work/finturity/finturity__sec-6--1.webp 836w"
                            sizes="(min-width: 1024px) 44vw"
                            width="836"
                            height="655"
                            data-attribute-pos="right"
                            loading="lazy"/>
                        <div class="video-wrapper st__image" data-attribute-pos="right">
                            <video playsinline muted loop autoplay preload="none" src="/assets/work/finturity/video_map.mp4"></video>
                        </div>
                        <img
                            class="st__image"
                            src="/assets/work/finturity/finturity__sec-6--2.webp"
                            alt="finturity-mockup"
                            srcset=" /assets/work/finturity/finturity__sec-6--2@750.webp 750w, /assets/work/finturity/finturity__sec-6--2.webp 836w "
                            sizes="(min-width: 1024px) 44vw, 70vw"
                            width="836"
                            height="753"
                            data-attribute-pos="right"
                            loading="lazy"/>
                        <img
                            class="st__image"
                            src="/assets/work/finturity/finturity__sec-6--3.webp"
                            alt="finturity-mockup"
                            srcset="/assets/work/finturity/finturity__sec-6--3.webp 835w"
                            sizes="(min-width: 1024px) 44vw, 75vw"
                            width="835"
                            height="639"
                            data-attribute-pos="right"
                            loading="lazy"/>
                    </div>
                </div>
            </div>
        </section>
        <a href="/work/cruefilms/" class="footer-spacer cursor__hover" data-attribute-text="next">
            <div class="section__wrapper">
                <footer class="next-project pin__banner st__plax --banner">
                    <div class="st__headline headline__footer title">Cruefilms</div>
                    <img
                        class="promo st__plax--inner"
                        srcset=" /assets/work/cruefilms/cruefilms__banner@1024.webp 1024w, /assets/work/cruefilms/cruefilms__banner.webp 1920w "
                        sizes="100vw"
                        src="/assets/work/cruefilms/cruefilms__banner.webp"
                        alt="banner-image"
                        loading="lazy"/>
                </footer>
            </div>
        </a>
    </main>
</div>